<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.OneVsOneActivity"></activity>
        <activity android:name=".ui.activity.QuestionsActivity" />

        <service
            android:name=".service.CloudMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.RoomActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="polify.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MultiPlayerActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VerifyActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>